<div class="animated fade_in">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          Products List
        </div>
        <div class="card-body">
          <!-- <table datatable [dtOptions]="dtOptions" class="row-border hover"></table> -->
          <table datatable [dtOptions]="dtOptions" class="table row-border hover">
            <thead>
              <tr>
                <th>No.</th>
                <th>Product Name</th>
                <th>Product category</th>
                <th>Purchase Rate</th>
                <th>Selling Rate</th>
                <th>Tax Rate</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let product of products; index as i;">
                <td>{{ i + 1 }}</td>
                <td>{{ product?.product_name }}</td>
                <td>{{ product?.pc_name }}</td>
                <td>{{ product?.seller_rate | number: '1.2-2' }}</td>
                <td>{{ product?.product_rate | number: '1.2-2' }}</td>
                <td>{{ product?.pc_tax | number: '1.2-2' }}</td>
                <td>
                  <button data-toggle="modal" data-target="#largeModal" data-keyboard="false" data-backdrop="static"
                    [attr.disabled]="product?.sale_mode != 0 ? true : null " class="btn btn-warning btn-sm"
                    (click)="order_product(product.product_id)">Order Now</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>


<app-order-now></app-order-now>
