.notification_holder {
  min-height: 100px;
  max-height: 200px;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    width: 5px;
    background-color: #f0f3f5;
  }

  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    box-shadow: rgba(0, 0, 0, 0.3);
  }

  &::-webkit-scrollbar-thumb {
    background-color: darkgrey;

  }

  & .unseen {
    background-color: #f0f3f5;
  }


  & .dropdown-item:active {
    // background-color: #f0f3f5;
    background-color: none;
  }

  & .dropdown-item:hover {
    // background-color: #f0f3f5;
    background-color: none;
  }
}

.notification_box {
  width: 300px;
}
