.notification_holder {
  min-height: 100px;
  max-height: 200px;
  overflow-y: scroll;
}

.notification_holder::-webkit-scrollbar {
  width: 5px;
  background-color: #f0f3f5;
}

.notification_holder::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: rgba(0, 0, 0, 0.3);
}

.notification_holder::-webkit-scrollbar-thumb {
  background-color: darkgrey;
}

.notification_holder .unseen {
  background-color: #f0f3f5;
}

.notification_holder .dropdown-item:active {
  background-color: none;
}

.notification_holder .dropdown-item:hover {
  background-color: none;
}

.notification_box {
  width: 300px;
}
