<app-header
  [navbarBrandRouterLink]="['/dashboard']"
  [fixed]="true"
  [navbarBrandFull]="{
    src: 'assets/img/brand/logo.svg',
    width: 89,
    height: 25,
    alt: 'CoreUI Logo'
  }"
  [navbarBrandMinimized]="{
    src: 'assets/img/brand/sygnet.svg',
    width: 30,
    height: 30,
    alt: 'CoreUI Logo'
  }"
  [sidebarToggler]="'lg'"
  [asideMenuToggler]="''"
>
  <ul class="nav navbar-nav ml-auto">
    <li
      class="nav-item d-md-down-none"
      dropdown
      placement="bottom right"
      (click)="get_notifications()"
    >
      <a
        class="nav-link"
        data-toggle="dropdown"
        role="button"
        aria-haspopup="true"
        aria-expanded="false"
        dropdownToggle
      >
        <i class="icon-envelope-letter"></i
        ><span class="badge badge-pill badge-info" *ngIf="env_label > 0">{{
          env_label
        }}</span>
      </a>
      <div
        aria-labelledby="simple-dropdown"
        *dropdownMenu
        class="dropdown-menu notification_box dropdown-menu-right dropdown-menu-lg"
      >
        <div class="dropdown-header">
          <strong
            >You have {{ unseen > 0 ? unseen : "" }} new notifications</strong
          >
        </div>
        <div class="notification_holder">
          <a
            [ngClass]="
              notification?.seen == 0 ? 'unseen dropdown-item' : 'dropdown-item'
            "
            *ngFor="let notification of notifications; index as i"
          >
            <div class="message">
              <div
                [ngClass]="
                  notification?.req_status == 1
                    ? 'text-success font-weight-bold'
                    : 'text-danger font-weight-bold'
                "
              >
                {{ notification?.req_status == "1" ? "Accepted" : "Cancelled" }}
              </div>
              <div class="small text-muted">
                Request for {{ notification?.product_name }} is
                {{ notification?.req_status == "1" ? "Accepted" : "Cancelled" }}
                by Admin.
              </div>
            </div>
          </a>
        </div>
      </div>
    </li>
    <li class="nav-item dropdown" dropdown placement="bottom right">
      <a
        class="nav-link"
        data-toggle="dropdown"
        href="#"
        role="button"
        aria-haspopup="true"
        aria-expanded="false"
        dropdownToggle
        (click)="(false)"
      >
        <img src="assets/img/avatars/6.jpg" class="img-avatar" />
      </a>
      <div
        class="dropdown-menu dropdown-menu-right"
        *dropdownMenu
        aria-labelledby="simple-dropdown"
      >
        <a class="dropdown-item" href="#"
          ><i class="fa fa-wrench"></i> Setting</a
        >
        <div class="divider"></div>
        <a class="dropdown-item" (click)="logout()" href="#"
          ><i class="fa fa-lock"></i> Logout</a
        >
      </div>
    </li>
  </ul>
</app-header>
<div class="app-body">
  <app-sidebar [fixed]="true" [display]="'lg'">
    <app-sidebar-nav
      [navItems]="navItems"
      [perfectScrollbar]
      [disabled]="sidebarMinimized"
    ></app-sidebar-nav>
    <app-sidebar-minimizer></app-sidebar-minimizer>
  </app-sidebar>
  <!-- Main content -->
  <main class="main">
    <cui-breadcrumb> </cui-breadcrumb>
    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div>
    <!-- /.container-fluid -->
  </main>
</div>
<app-footer>
  <span class="ml-auto"
    >Powered by
    <a href="https://www.shraddhaprinters.com">Shraddha Printers</a></span
  >
</app-footer>
