<div class="animated fadeIn">

  <div class="card-group mb-4">
    <div class="card">
      <div class="card-body">
        <div class="h1 text-muted text-right mb-4">
          <i class="icon-basket-loaded"></i>
        </div>
        <div class="h4 mb-0">{{ total_product }}</div>
        <small class="text-muted text-uppercase font-weight-bold">Total Products</small>
        <div class="progress progress-xs mt-3 mb-0">
          <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="25" class="progress-bar bg-info" role="progressbar"
            style="width: 25%"></div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <div class="h1 text-muted text-right mb-4">
          <i class="fa fa-shopping-bag"></i>
        </div>
        <div class="h4 mb-0">{{ total_orders }}</div>
        <small class="text-muted text-uppercase font-weight-bold">Total Orders</small>
        <div class="progress progress-xs mt-3 mb-0">
          <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="25" class="progress-bar bg-success"
            role="progressbar" style="width: 25%"></div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <div class="h1 text-muted text-right mb-4">
          <i class="fa fa-money"></i>
        </div>
        <div class="h4 mb-0">
          {{ total_balance }}
        </div>
        <small class="text-muted text-uppercase font-weight-bold">Total Balance</small>
        <div class="progress progress-xs mt-3 mb-0">
          <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="25" class="progress-bar bg-warning"
            role="progressbar" style="width: 25%"></div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <div class="h1 text-muted text-right mb-4">
          <i class="fa fa-dollar"></i>
        </div>
        <div class="h4 mb-0">{{ credit }}</div>
        <small class="text-muted text-uppercase font-weight-bold">Total Available Credit</small>
        <div class="progress progress-xs mt-3 mb-0">
          <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="25" class="progress-bar" role="progressbar"
            style="width: 25%"></div>
        </div>
      </div>
    </div>

  </div>
</div>
