<div class="animated fade_in">
  <div class="row">
    <div class="col-sm-5">
      <div class="card">
        <div class="card-header d-flex justify-content-between">
          <h6 class="m-0">Transactions</h6>
          <h6 class="m-0">
            Wallet :
            <span [ngClass]="balance > 0 ? 'text-success' : 'text-danger'">
              {{ balance | number: "1.2-2" }}</span>
          </h6>
        </div>
        <div class="card-body p-0">
          <div class="transaction" *ngFor="
              let transaction of transactions;
              index as i;
              
            ">
            <div class="bg-gray-100" style="padding:10px 20px">
              <h6 class="m-0">
                {{ transaction?.created_at | date: "longDate" }}
              </h6>
            </div>
            <div class="trans_detail p-3">
              <div class="row align-items-center">
                <div class="col-2 justify-content-center">
                  <div class="trans_icon d-flex justify-content-center align-items-center">
                    <h2 class="" *ngIf="
                        transaction?.label == 104 || transaction?.label == 101
                      ">
                      +
                    </h2>
                    <h2 class="" *ngIf="transaction?.label == 103">-</h2>
                  </div>
                </div>
                <div class="col-10">
                  <div class="trans_text d-flex justify-content-between">
                    <div class="left">
                      <h6 *ngIf="transaction?.label == 103">
                        Paid for order of {{ transaction?.product_name }}
                      </h6>
                      <h6 *ngIf="transaction?.label == 104">
                        Refund: order of {{ transaction?.product_name }}
                      </h6>
                      <h6 *ngIf="transaction?.label == 101">
                        Added to Your wallet
                      </h6>
                      <p class="m-0">
                        {{ transaction?.created_at | date: "shortTime" }}
                      </p>
                    </div>
                    <div class="right text-right">
                      <h5 class="text-success" *ngIf="
                          transaction?.label == 104 || transaction?.label == 101
                        ">
                        + {{ transaction?.amount | number: "1.2-2" }}
                      </h5>
                      <h5 class="text-danger" *ngIf="transaction?.label == 103">
                        - {{ transaction?.amount | number: "1.2-2" }}
                      </h5>
                      <p class="m-0" *ngIf="transaction?.closing_balance > 0">
                        Closing Balance:
                        <span class="text-success">{{
                          transaction?.closing_balance | number: "1.2-2"
                        }}</span>
                      </p>
                      <p class="m-0" *ngIf="transaction?.closing_balance < 0">
                        Closing Balance:
                        <span class="text-danger">{{
                          transaction?.closing_balance | number: "1.2-2"
                        }}</span>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
