.trans_icon {
  height: 60px;
  width: 60px;
  border-radius: 100%;
  border: 1px solid gray;
  background-color: #f0f3f5;
}

.card-body {
  height: 500px;
  overflow-y: scroll;
}

.card-body::-webkit-scrollbar {
  width: 5px;
  background-color: #f0f3f5;
}

.card-body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: rgba(0, 0, 0, 0.3);
}

.card-body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
}
