<div class="animated fade_in">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          Products List
        </div>
        <div class="card-body">
          <table datatable [dtOptions]="dtOptions" class="table row-border hover ">
            <thead>
              <tr>
                <th>No</th>
                <th>Product Name</th>
                <th>Product category</th>
                <th>Qty</th>
                <th>Rate</th>
                <th>Total Amount</th>
                <th>Order Date</th>
                <th>Order status</th>
                <th width="10%">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="
                  let order_request of order_requests;
                  index as i;
                  
                ">
                <td>{{ i + 1 }}</td>
                <td>{{ order_request?.product_name }}</td>
                <td>{{ order_request?.pc_name }}</td>
                <td>{{ order_request?.qty }}</td>
                <td>{{ order_request?.seller_rate | number: "1.2-2" }}</td>
                <td>{{ order_request?.total_amount | number: "1.2-2" }}</td>
                <td>{{ order_request?.created_at | date: "longDate" }}</td>
                <td>
                  <span class="badge badge-warning" *ngIf="order_request?.req_status == 0">Pending</span>
                  <span class="badge badge-success" *ngIf="order_request?.req_status == 1">Accepted</span>
                  <span class="badge badge-danger" *ngIf="order_request?.req_status == -1">Cancelled</span>
                </td>
                <td>
                  <!--  -->
                  <button [attr.disabled]="
                      order_request?.isloading == true ||
                      order_request?.req_status == -1 ||
                      order_request?.req_status == 1 ||
                      order_request?.isDisabled
                        ? true
                        : null
                    " class="btn btn-danger btn-sm" (click)="cancel_req(order_request)">
                    Cancel Request
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
