<div bsModal #largeModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" [attr.aria-hidden]="true">
  <div class="modal-dialog modal-lg" role="document">
    <form [formGroup]="order_form" (ngSubmit)="onSubmit()">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Add Order Request</h4>
          <button type="button" class="close" (click)="largeModal.hide()" aria-label="Close">
            <span [attr.aria-hidden]="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <table class="table table-responsive hover">
            <thead>
              <tr>
                <th>Item</th>
                <th>Description</th>
                <th width="15%">Qty</th>
                <th>rate</th>
                <th>Amount</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <div class="product_image" [style.background-image]="
                      'url(' + product?.product_images + ')'
                    "></div>
                </td>
                <td>
                  <p class="mb-0">
                    <b>{{ product?.product_name }} - {{ product?.pc_name }}</b>
                  </p>
                  <p>
                    <b>Selling Rate :</b>
                    {{ product?.product_rate | number: "1.2-2" }}
                  </p>
                </td>
                <td>
                  <div class="form-group">
                    <input type="number" formControlName="qty" (change)="calculate()" id="qty" min="0" max="1000"
                      class="form-control" value="{{ qty_val }}" name="qty" />
                  </div>
                </td>
                <td>
                  <p>{{ product?.seller_rate | number: "1.2-2" }}</p>
                </td>
                <td>
                  <p>{{ total | number: "1.2-2" }}</p>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="modal-footer" style="border-top:none">
          <button type="submit" class="btn btn-primary" [attr.disabled]="button_status != true ? true : null">Add
            Request</button>
        </div>
      </div>
      <!-- /.modal-content -->
    </form>
  </div>
  <!-- /.modal-dialog -->
</div>
