.product_image {
  height: 120px;
  width: 120px;
  background-image: url('../../../../assets/no-image.png');
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

table {

  thead,
  tbody {
    tr {

      th {
        text-align: center;
      }
    }
  }
}
